#set($layout = "/layout/blank.vm")

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Registration Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="/index"><b>Admin</b>LTE</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>

        <form ng-app="myRegister" name="myRegister" ng-controller="validateCtrl" action="/doRegister" method="post">
            <div class="form-group has-feedback">
                <input type="text" id="username" name="username" class="form-control" placeholder="Full name (Length >= 5)" ng-model="username" required autofocus />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span style="color:red" ng-show="myRegister.username.$dirty && myRegister.username.$invalid">
                    <span ng-show="myRegister.username.$error.required">用户名是必须的(长度至少5字符)</span>
                </span>
            </div>

            <div class="form-group has-feedback">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="email" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span style="color:red" ng-show="myRegister.email.$dirty && myRegister.email.$invalid">
                    <span ng-show="myRegister.email.$error.required">邮箱是必须的</span>
                    <span ng-show="myRegister.email.$error.email">非法的邮箱地址</span>
                </span>
            </div>

            <div class="form-group has-feedback">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password (Length >= 6)" ng-model="password" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span style="color:red" ng-show="myRegister.password.$dirty && myRegister.password.$invalid">
                    <span ng-show="myRegister.password.$error.required">密码是必须的(至少6位)</span>
                </span>
            </div>

            <div class="form-group has-feedback">
                <input type="password" id="rpassword" name="rpassword" class="form-control" placeholder="Retype password (Length >= 6)" ng-model="rpassword" required>
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span style="color:red" ng-show="myRegister.rpassword.$dirty && myRegister.rpassword.$invalid">
                    <span ng-show="myRegister.rpassword.$error.required">确认密码是必须的(至少6位)</span>
                </span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" id="termscheck"> I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="button" id="btnregister" name="btnregister" ng-disabled="incomplete" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <p>- OR -</p>
        </div>

        <a href="/login" class="text-center"> I already have a membership</a>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/plugins/iCheck/icheck.min.js"></script>
<!-- Angular -->
<script src="/plugins/angular/angular.js"></script>
<script src="/plugins/monitor/account/myRegister.js"></script>

<script>
    $(function () {
        $('input').iCheck({
            labelHover : false,
            cursor : true,
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        $('#btnregister').click(function (e) {
            var username = $('input[name=username]').val();
            var email = $('input[name=email]').val();
            var password = $('input[name=password]').val();
            var rpassword = $('input[name=rpassword]').val();

            if (password != rpassword) {
                alert("Retype password not equals.");
                return;
            }

            if (!$('#termscheck').prop('checked')) {
                alert("Please agree the terms and checked.");
                return;
            }

            if (username != "" && password != "" && email != "") {
                $('#btnregister').prop('disabled', true);
                $.ajax({
                    type: "POST",
                    url: "/doRegister",
                    async: false,  // can't remove, firefox redirect.
                    data: {
                        "username": username,
                        "email" : email,
                        "password": password
                    },
                    //dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            window.location.href = "/login";
                        } else {
                            alert(data.message);
                        }
                    }
                });
                $('#btnregister').prop('disabled', false);
            } else {
                alert("Please check username, email and password.");
            }
        });

    });
</script>
</body>
</html>